page-login {
  ion-grid {
    height: 100%;

    & > ion-row {
      height: inherit;
      align-items: center;
    }
  }

  .bg-transparent {
    background: transparent;
  }

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #FFF !important;
    fill: #FFF !important;
  }
}
