
<ion-content padding>
    <button ion-item (click)="onSelect()" >
        <ion-label> Upload Image </ion-label>
        <ion-icon item-end ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
    </button>
    <ion-item *ngIf="blobImage" >
      <ion-avatar item-start >
        <img [src]="domSanitizer.bypassSecurityTrustUrl(base64Image)">
      </ion-avatar>
      <p >Image Name</p>
      <h4> {{nameImage}} </h4>
    </ion-item>

  <form >
    <ion-list>
      <ion-item>
        <ion-label floating>Notebook</ion-label>
        <ion-input type="text" [formControl]="notebookSearch" ></ion-input>
        <ul>
          <li *ngFor="let item of notebookItems | async">{{item}}</li>
        </ul>
      </ion-item>
      <ion-item>
          <ion-label floating>Sample</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-textarea class="textarea__margin" rows="5" placeholder="Description" maxlength="8192"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>

</ion-content>

<ion-footer text-right padding >
    <button ion-button color="light">Cancel</button>
    <button ion-button >Upload</button>
</ion-footer>
