
<ion-content padding>
    <button ion-item (click)="onSelect()" >
        <ion-label> Upload Image </ion-label>
        <ion-icon item-end ios="ios-cloud-upload" md="md-cloud-upload"></ion-icon>
    </button>
    <ion-item *ngIf="blobImage" >
      <ion-avatar item-start >
        <img [src]="domSanitizer.bypassSecurityTrustUrl(base64Image)">
      </ion-avatar>
      <p >Image Name</p>
      <h4> {{nameImage}} </h4>
    </ion-item>

  <form >
    <ion-list>
      <ion-item>
        <ion-searchbar [placeholder]="placeholderNotebooks" name="notebook" [(ngModel)]="searchQueryNotebook" ></ion-searchbar>
        <ion-toolbar *ngIf="searchQueryNotebook != ''" style="height: 20vh;">
          <ion-content style="position: absolute">
          <ion-list >
            <ion-item *ngFor="let item of (notebookItems | notebooksByIdAndTitle: searchQueryNotebook) " (click)="onSelectNotebook(item)" >
              {{ item.id }} : {{ item.title }}
            </ion-item>
          </ion-list>
          </ion-content>
        </ion-toolbar>
      </ion-item>
      <ion-item>
          <ion-searchbar [placeholder]="placeholderSample" name="sample" [(ngModel)]="searchQuerySample" ></ion-searchbar>
          <ion-toolbar *ngIf="searchQuerySample != ''" style="height: 20vh;">
            <ion-content style="position: absolute">
            <ion-list >
              <ion-item *ngFor="let item of (sampleItems | sampleByIdAndTitle: searchQuerySample) " (click)="onSelectSample(item)" >
                {{ item.id }} : {{ item.name }}
              </ion-item>
            </ion-list>
            </ion-content>
          </ion-toolbar>
        </ion-item>
      <ion-item>
          <ion-textarea #textareaDescription name="description" [formControl]="description" class="textarea__margin" rows="5" placeholder="Description" [attr.maxlength]="maxlenTextarea"></ion-textarea>
      </ion-item>
      <h6 text-right> {{ maxlenTextarea }} </h6>
    </ion-list>
  </form>

</ion-content>

<ion-footer text-right padding >
    <button ion-button (click) = "goToLogin()" color="light">Cancel</button>
    <button ion-button [disabled]=" blobImage == null || notebookSelected.title == '' || sampleSelected.name == '' || maxlenTextarea > 8188" (click)="addFileToNewEntry(blobImage, notebookSelected.id, sampleSelected.id, description.value)" >Upload</button>
</ion-footer>
